.header {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  align-items: center;
  margin: 90px 50px 105px;
  height: 90px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 50px;
  list-style: circle;
}

.header__links-list-item {
  font-size: 18px;
  font-weight: 400;
  list-style: circle;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link,
.header__link_active {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

.header__link {
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  align-self: center;
  width: 130px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: inherit;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
  font-style: inherit;
}

.mail-address,
.phone-address {
  align-self: flex-start;
  border-bottom: 0.5px solid #000;
  text-decoration: none;
}
.cover {
  height: 755px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  height: 755px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-top: 165px;
  text-transform: uppercase;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 30px;
}

.aligned-text {
  margin-left: 50px;
  text-transform: uppercase;
}

.aligned-text_center {
  align-self: center;
  margin: 0 75px 0 110px;
  text-transform: uppercase;
}

.aligned-text_right {
  align-self: flex-end;
  margin-right: 20px;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin: 105px 50px 0;
  padding-bottom: 50px;
}

.bet-button,
.cover__description-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.cover__description-text {
  display: flex;
  align-items: center;
  justify-content: start;
  word-spacing: 20px;
}

.bet-button {
  display: flex;
  padding: 15px 30px;
  border: 1px solid #fff;
  background: none;
}
